<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.iamplus.buttonsfactorytest">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>


    <application android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">

        <service android:name="com.iamplus.buttonsfactorytest.MusicService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".EqualizerActivity"
            android:parentActivityName=".ButtonsTestActivity"
            android:label="@string/activity_equalizer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CustomEqualizerActivity"
            android:parentActivityName=".EqualizerActivity"
            android:label="@string/activity_custom_equalizer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".HandsFreeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aneeda.CHECKS_FOR_UPDATES" />
            </intent-filter>
        </service>

        <activity
            android:name=".UpdateActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="aneeda.UPDATE_BUTTONS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
